In [1]:
s = 'abcd'
for a in s:
    print(a)

a
b
c
d

In [2]:
#print n numbers from 1 to n.
#with 3 value
n = int(input())
for i in range(1,n+1,1):
    print(i)

5
1
2
3
4
5

In [3]:
#print n numbers from 1 to n.
#with 1 value
#start is default as 0 & stride(step) is 1. 
n = int(input())
for i in range(n+1):
    print(i)

4
0
1
2
3
4

In [4]:
#print n numbers from 1 to n.
#with 2 value
#1st value is start ,2nd value is stop  & default stride(step) as 1. 

n = int(input())
for i in range(1,n+1):
    print(i)

4
1
2
3
4

In [5]:
# reverse numbers.

n = int(input())
for i in range (n,0,-1):
    print(i)

4
4
3
2
1

In [6]:
for i in range(1,5,2):
    print(i,end=' ')

1 3

In [7]:
for i in range(5):
    print(i,end= ' ')

0 1 2 3 4

In [8]:
a = int(input())
b = int(input())


for i in range(a,b+1,1):
    if i%3==0:
        print(i)

1
10
3
6
9

In [9]:
a = int(input())
b = int(input())

if a%3==0:
    s = a
elif a%3==1:
    s = a+2
else:
    s = a+1
for i in range(s,b+1,3):
        print(i)

6
35
6
9
12
15
18
21
24
27
30
33

In [10]:
#prime no. 
n = int(input())
flag = False
for d in range(2,n,1):
    if n%d ==0:
        flag = True
        
if flag:
    print('not prime')
else:
    print('prime')

7
prime

patterns

In [11]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(' ',end='')
    for j in range(i,2*i,1):
        print(j,end="")
    for j in range(2*i-2,i-1,-1):
        print(j,end="")
    print()

4
   1
  232
 34543
4567654