n-i+1

4-1+1=4

4-2+1=3

4-3+1=2

In [12]:
n = int(input())

i = 1
while i<=n:
  j =1
  while j<=n-i+1:
    print('@', end = '')
    j = j+1
  print()
  i = i+1

5
@@@@@
@@@@
@@@
@@
@

In [13]:
n = int(input())

i = 1
while i<=n:
  j =1
  while j<=n-i+1:
    print(i%2, end = '')
    j = j+1
  print()
  i = i+1

4
1111
000
11
0

In [14]:
n = int(input())

i = 1

while i <= n:
    
    char = chr(ord('A') + i - 1)
    
    j = 1
    
    while j <= i:
        print(char, end="")
        j += 1       
    print()
    i +=1

4
A
BB
CCC
DDDD

In [15]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        if i==1:
            print('1',end='')
        elif j==1 or i==j:
            print('1',end='')
        else:
            print('2',end='')
        j=j+1
    print()
    i=i+1

5
1
11
121
1221
12221

In [16]:
n = int(input())
i = n
while i >= 1:
    j = i
    while j<=n:
        print(chr(ord("A")+j-1),end="")
        j = j + 1
    print()
    i = i - 1

5
E
DE
CDE
BCDE
ABCDE

In [17]:
n = int(input())
i = 1
while i<=n:
    j = 1
    p =1
    while j <= n-i+1:
        print(p,end='')   
        j = j +1
        p =p+1
    print()    
    i = i+1

5
12345
1234
123
12
1

In [19]:
n=int(input())
s=1
for i in range (1,n+1):
    for j in range(s,s+n):
        print(j ,end=" ")
    print()
    if (i==((n+1)//2)):
        if n%2!=0:
            s=n*(n-2)+1
        else:
            s=n*(n-1)+1
        continue
    if (i>(n+1)//2):
        s=s-2*n
    else:
        s=s+2*n

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10