print("a")

print(a,end='')

In [44]:
def sum(a,b):
    return a+b

sum(1,2,3)

TypeError: ignored

In [45]:
def sum(a,b,c=0):
    return a+b+c

print(sum(1,2,3))
print(sum(1,2))

6
3

In [46]:
# all non-default argument should be before argument with default value
def sum(a=0,b,c):
    return a+b+c
sum(1,2,3)

SyntaxError: ignored

In [48]:
def sum(b,c, a=0):
    return a+b+c
sum(1,2,3)

6

In [47]:
def sum(a,b,c=2,d=0):
    return a+b+c+d

print(sum(2,3))
print(sum(2,3,5)) # # here c is taking 5 and d=0 as default
print(sum(2,3,4,5)) # here c is taking 4 and d=5

7
10
14

In [49]:
def sum(a,b,c=2,d=0):
    return a+b+c+d

sum(2,3,d=3)

10