## **Boolean**

In [1]:
a = True
b = False
c = True
type(c)

bool

## **Relational Operator**

In [2]:
a=10
b=20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b) 
print(a!=b) #not equals to

# a=b i.e what to put b value in a and = sign is use for assign so taken ==

False
False
True
True
False
True

 ## **Logical Operators**

In [3]:
a=10
b=20
c1=a>10
c2=b>10
r1=c1 and c2 # both should be True 
r2=c1 or c2  # or = one sholud be true then also ok
r3= not(c1)
print(r1)
print(r2)
print(r3)

False
True
True

# ***`IF_ELSE`***

In [4]:
a=True

if a:
  print('im if')
else:
  print('im else')

im if

In [5]:
a=False
if a:
  print('im if')
else:
  print('im else')

im else

In [9]:
n = int(input())

a = n%2
is_even=(a==0)

if is_even:
  print('even')
else:
  print('odd')

10
even

In [10]:
n = int(input())

is_even = (n%2==0)

if is_even:
  print('even')
else:
  print('odd')

3
odd

In [11]:
n = int(input())

if n%2==0:
  print('even')
else:
  print('odd')

4
even

In [12]:
#n is -ive or +ive
n=int(input())
if n>0:
    print('positive')
elif n<0:
    print('negative')
else:
    print("zero")

5
positive

In [13]:
a = int(input())
b = int(input())

c1 = a<10
c2 = b<10

r = c1 and c2

if r:
  print('both r less than 10')
else:
  print('no')

4
87
no

In [14]:
a = int(input())
b = int(input())

c1 = a<10
c2 = b<10

r = c1 and c2

if r:
  print('both r less than 10')
else:
  print('no')

4
5
both r less than 10

In [15]:
a = int(input())
b = int(input())

c1 = a<10
c2 = b<10

r = c1 or c2

if r:
  print('both r less than 10')
else:
  print('no')

3
98
both r less than 10

In [16]:
a = int(input())
b = int(input())

c1 = a<10
c2 = b<10

r = c1 or c2

if r:
  print('both r less than 10')
else:
  print('no')

78
90
no

In [18]:
a = int(input())
b = int(input())

if a<10 or b<10:
  print('both r less than 10')
else:
  print('no')

3
4
no

In [ ]:
5