In [ ]:
0   1    2    3    4     5
|                  |     |

i                len-2  len-1

In [49]:
def reverse_l(li):
  lenght = len(li)
  for i in range(lenght//2): # // gives u int value & / gives u float value
    li[i], li[lenght-i-1] = li[lenght-i-1], li[i] #swap

In [50]:
li = [1,2,3,4,5,6]
reverse_l(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [52]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[-i-1]=li[-i-1],li[i]

li = [1,2,3,4,5,6]
reverse_l(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [51]:
li = [1, 2, 3, 4, 5, 6]
li = li[::-1]
li

[6, 5, 4, 3, 2, 1]