In [40]:
def sum(a,b):
    return a+b, a*b

sum (1,2)

(3, 2)

In [41]:
def sum(a,b):
    return a+b

sum (1,2)

3

In [42]:
def sum(a,b):
    return a+b

sum (1,2,1)

TypeError: ignored

In [44]:
def sum(a,b,c=0,d=0,e=0):
  return a+b+c

In [46]:
sum(1,2,3)

6

In [47]:
sum(1,2,3,4,5)

6

In [48]:
sum(1,2)

3

In [49]:
sum(1)

TypeError: ignored

In [55]:
def sum(a,b,*more):
    print(a)
    print(b)
    print(more)
    print(type(more))

In [56]:
sum(1,2)

1
2
()
<class 'tuple'>

In [57]:
sum(1,2,3)

1
2
(3,)
<class 'tuple'>

In [58]:
sum(1,2,3,4,5,6,7)

1
2
(3, 4, 5, 6, 7)
<class 'tuple'>

In [59]:
def ans(a,b,*more):
    ans =a+b
    for i in more:
        ans = ans+i
    return ans

In [60]:
ans(1,2)

3

In [61]:
ans(1,2,3,4,5)

15

In [62]:
def sum1(a,b):
    return a+b, a-b, a*b, a/b, a//b, a%b

In [63]:
sum1(2,3)

(5, -1)

In [64]:
def sum1(a,b):
    return a*b, a/b, a//b, a%b

In [65]:
sum1(2,3)

(6, 0.6666666666666666, 0, 2)

In [68]:
def sum_diff1(a,b):
    return a+b,a-b,a*b

In [69]:
d,e = sum_diff1(4,1)
print(d)
print(e)

ValueError: ignored

In [70]:
d= sum_diff1(4,1)
print(d)

(5, 3, 4)